.message{"data-message-id": "#{message.id}"}
  .message-upper
    .message-upper__name
      = message.user.name
    .message-upper__date
      = message.created_at.strftime("%Y/%m/%d %R")
  .message-text
    - if message.content.present?
      %p.message-text__content
        = message.content
    = image_tag message.image.url, class: 'message-text__image' if message.image.present?